body,
html {
    width: 100%;
    height: 100%;

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.topnav {
    font-size: 16px;
    border-bottom: 1px outset rgba(192, 192, 192, 0.5);
    background: rgba(192, 192, 192, 0.9);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.topnav ul.navbar-nav li a {
background: rgba(28, 28, 28, 0.1);
color: #000;
}
.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus
 {
background: rgba(255, 255, 255, 0.5);
color: #000;
}

.topnav .navbar-brand {
  background: rgba(28, 28, 28, 0.0);
  color: #000;
}

.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}



.list {
  max-width: 650px;
  margin: auto;
  padding: 0 10px 50px 10px;
  margin-top: 50px;
}

.category {
  color: #666;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
}

.list-post {
  padding: 0 5px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  overflow: hidden;
}

.list-post:hover {
  background: #f6f6f6;
}

.list-post span {
  color: #999;
  text-align: right;
}

.list-post .date-long {
  display: inline-block;
  float: right;
}

.list-post a {
  text-decoration: none;
}

.article {
  max-width: 768px;
  margin: auto;
  padding: 0 15px 20px 15px;
  line-height: 26px;
  color: #555;
  word-wrap: break-word;
  margin-top: 50px;
}

.article a {
  font-size: 14px;
}

.article img {
  display: block;
  margin: 8px auto;
  max-width: 100%;
  border-radius: 2px;
}

.article-content {
  margin-top: -6px;
  margin-bottom: -26px;
}

.article-content p {
  margin-bottom: 16px;
}

.article-content p code,
.article-content ul code {
  display: inline-block;
  margin: 0 2px;
  padding: 0 4px;
  color: #dd0055;
  border-radius: 3px;
  line-height: 20px;
  background: #fafafa;
  border: 1px solid #ddd;
}

.article-content pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
  margin-bottom: 16px;
  padding: 10px 15px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 13px;
  font-style: normal;
  line-height: 1.5;
  overflow: auto;
  border-radius: 4px;
}

.article-content strong {
  color: #333;
  font-weight: bold;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin-bottom: 16px;
  padding: 0 0 5px 0;
  color: #454545;
}

.article-content h1 {
  font-size: 21px;
}

.article-content h2 {
  margin-top: 24px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}

.article-content h3 {
  font-size: 19px;
}

.article-content h4 {
  font-size: 18px;
}

.article-content h5 {
  font-size: 17px;
}

.article-content h6 {
  font-size: 16px;
}

.article-content ul {
  /*list-style-type: square;*/
  margin-left: 2em;
  margin-bottom: 16px;
}

.article-title {
  color: #ff001f;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}

.article-time {
  color: #9b9b9b;
  font-size: 14px;
  margin: 5px 0 16px 0;
  text-align: center;
}

#showDs {
  display: block;
  margin: 10px auto 30px auto;
  width: 95%;
  max-width: 650px;
  height: 30px;
  line-height: 30px;
  color: #aaa;
  font-size: 14px;
  background: #f7f7f7;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#showDs:hover {
  color: #aaa;
  background: #e7e7e7;
}

/*top background*/
.intro-header {
    height: 855px;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url('https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}
.bg-overlay {
  background:rgba(0,0,0, 0.3);
  height: 855px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
/*Big header*/
.intro-message > h1 {
    margin-top: -50px;
    text-shadow: 2px 1px 2px #000;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.7);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*small header*/
.intro-message > h3 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  color: black;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
/*line*/
hr.intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 100%;
}
/* social buttons */
.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn:hover {
    color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}

/*section 2*/
.content-section-a {
    padding: 50px 0;
    background: url('https://41.media.tumblr.com/eb2382a5a4c996cfdab27bc0d1eb51ff/tumblr_nt5umxS1FY1ud7rr3o1_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}
.bg-overlay2 {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.2);
  height: 855px;
}
  /*self-taught*/
.container .link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
}

.container .link:hover {
  color: rgb(0,0,128);
  font-weight: bold;
  font-size: 22.5px;
}

h2.section-heading {
    margin-top: 100px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.9);
}

  /*text*/
 .content-section-a p {
    font-size: 22px;
   font-weight: bold;
    color: #000;
  }
.content-section-a p a {
  color: silver;
  font-weight: bold;
}
/*profile picture*/
.img-circle {
  margin-top: 150px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}


/* Portfolio section*/
section {
  color: black;
  background: url('https://41.media.tumblr.com/92e61775d4c3edcc5145936e3703d125/tumblr_nt5uo9fH9y1ud7rr3o1_1280.jpg') no-repeat center center fixed;
  background-size: cover;
}

 #below-section {
  color: #000;
}

#small-text {
  color: white;
}

/*.portfolio-item {
  overflow: hidden;
  padding: 7px;
  color: white;
  height: 308px;
}*/
/*Portfolio items*/

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  border: 1px outset rgba(255, 255, 255, 0.6);
}

#portfolio .portfolio-item:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  color: #fff;
  text-transform: none;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/*.col-md-4 {
  overflow: hidden;
  display: inline-block;
  border: 1px outset rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1%;
  text-align: center;
  box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}
.col-md-4:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
}*/

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    background: url('https://41.media.tumblr.com/ac46aa24b44b5036e9200abb71f810d9/tumblr_nt5vzxV6Us1ud7rr3o1_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 755px;
}

.bg-overlay4 {
  margin-top: -100px;
  padding: 100px 0;
  background: rgba(255,255,255, 0.3);
  height: 755px;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}



    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

h2.connect {
   margin: 0;
   color: rgba(0, 0, 0, 0.9);
}

footer {
    padding: 50px 0;
    background: rgba(192, 192, 192, 0.9);
}

p.copyright {
    margin: 15px 0 0;
}
.img_list{
  width:100%;
  height:auto;
  max-height: 164px;
}

// markdom语法
.container{
  margin-top: 15px
}
textarea{
  resize: vertical;
  height: 100%
}